* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

html {
  background-color: #222;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* your CSS below! */

td {
  background-color: lightgray;
  /* border: solid 1px red; */
  height: 50px;
  width: 50px;
}

.pink {
  background-color: rgb(224, 33, 173);
}

.blue {
  background-color: rgb(10, 167, 240);
}

.orange {
  background-color: rgb(242, 175, 50);
}

.green {
  background-color: rgb(3, 125, 3);
}